#text {
    padding-top: 20;
}

#list {
    border: 2px solid gray;
}

.yippee {
    width: 1800px;
}

.tootall {
    height: 10px;
}
img{
    padding-left: 20px;
    padding-right: 20px;
}
marquee{
    padding-bottom: 3000px;
    padding-top: 70px;
}
#long{
    padding-bottom: 10000px;
}